@import './global.css';

.container  {
    width: 100vw;
    height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.wrapper  {
    width:  600px;
    height: 50%;
    border-radius: 10px;
    background-color: bisque;
    box-sizing:content-box;
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 50%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    background-image: url('../images/image-product-desktop.jpg');
    background-position: center;
    background-size:cover;
    background-clip:padding-box;
}


.image  img  {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;

}


.card  {

    height: 100%;
    width: 50%;
    border-radius:0px 10px 10px 0px;
    background-color: var(--white);
    padding: 10px 40px 10px 40px;
    box-sizing: border-box;
}

.card-item-category  {
    font-family: 'Monserrat';
    padding: 10px;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    
}


.card-item-name > h1 {
    font-weight: 500;
    padding: 10px;
}


.card-item-desc {
    color: var(--dark-grayish-blue);
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-item-price {
    display: flex;
    justify-content: space-between;

}

.price-current {
    font-size: 2rem;
    color:var(--dark-cyan);
}

.price-old {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

.card-item-button {
    width: 100%;
    display: flex;
    margin-top: 10px;
}


.card-item-button > button {
    width: 100%;
    padding: 10px;
    font-family: 'Montserrat' !important;
    font-weight: 500;
    color: var(--white);
    background-color: var(--dark-cyan);
    border-width:0px;
    border-radius: 5px;
}


@media(max-width: 400px ) {
    
    .wrapper-sm {
        width: 90%;
        height: 95%;
    }

    .sm-view  {
        flex-basis: 1 1 400px;
        width: 100%;
        height: 50%;
    }

    .border-top-radius,
    .border-top-radius img   {
        border-radius: 10px 10px 0px 0px;
    }

    .border-button-radius {
        border-radius: 0px 0px 10px 10px;
    }
    
}